@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* CSS for All */

* {
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.img-responsive {
    width: 100%;
}

.img-curve {
    border-radius: 15px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-white {
    color: white;
}

.clearfix {
    clear: both;
    float: none;
}

a {
    color: #ff6b81;
    text-decoration: none;
}

a:hover {
    color: #ff4757;
}

.btn {
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-primary {
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}

.btn-burburry {
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
    margin-left: 14rem;
    margin-top: 2rem;
    padding: 10px;
}

.btn-primary:hover {
    color: white;
    background-color: #ff4757;
}

h2 {
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}

h3 {
    font-size: 1.5rem;
}

.float-container {
    position: relative;
}

.float-text {
    position: absolute;
    bottom: 50px;
    left: 40%;
}

fieldset {
    border: 2px solid white;
    margin: 10%;
    padding: 3%;
    border-radius: 15px;
}


/* CSSS for navbar section */

.logo {
    width: 10%;
    float: left;
}

.menu {
    line-height: 60px;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    padding: 1%;
    font-weight: bold;
}


/* CSS for Food SEarch Section */

.food-search {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.food-search input[type="search"] {
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}


/* CSS for Categories */

.categories {
    padding: 4% 0;
}

.box-3 {
    width: 28%;
    float: left;
    margin: 2%;
}


/* CSS for Food Menu */

.food-menu {
    background-color: #ececec;
    padding: 4% 0;
}

.food-menu-box {
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.food-menu-img {
    width: 20%;
    float: left;
}

.food-menu-desc {
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price {
    font-size: 1.2rem;
    margin: 2% 0;
}

.food-detail {
    font-size: 1rem;
    color: #747d8c;
}


/* CSS for Social */

.social ul {
    list-style-type: none;
}

.social ul li {
    display: inline;
    padding: 1%;
}


/* for Order Section */

.order {
    width: 55%;
    margin: 0 auto;
}

.input-responsive {
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.input-response {
    width: 30%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.input-respons {
    width: 60%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.order-label {
    margin-bottom: 1%;
    font-weight: bold;
}


/* navigation bar */

html {
    font-size: 62.5%;
}

a {
    font-size: 1.6rem;
    text-decoration: none;
}

p,
li {
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1,
h2,
h3 {
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 600;
}


/* utility classes */

.lg-heading {
    font-size: 3.5rem;
}

.navbar a:hover {
    border-bottom: 1px solid orange;
}


/*  contact page styling  */

.contact-form {
    padding: 5rem 0;
    background: #f7f7f7;
}

.form-wrapper::after {
    content: "";
    display: block;
    clear: both;
}

.form-wrapper .company-address {
    float: left;
    width: 49%;
    background: #BFC9CA;
    padding: 1rem;
    height: 760px;
}

.form-wrapper .company-address i {
    display: inline-block;
    margin-right: 1rem;
}

.form-wrapper .company-address h2 {
    text-transform: uppercase;
}

.form-wrapper .address-group {
    margin-bottom: 3rem;
}

.form-wrapper .company-address img {
    max-width: 90%;
    min-height: 40rem;
    object-fit: cover;
    object-position: center;
}


/* form -styling */

.form-wrapper .form {
    font-size: 1.6rem;
    width: 49%;
    float: right;
    background: #BFC9CA;
    padding: 1rem;
    height: 760px;
}

.form h1::after {
    content: '';
    display: block;
    clear: both;
    border: 3px solid #ee4758;
}

.form-wrapper .form lable {
    display: block;
}

.form-wrapper .form input {
    padding: 0.5rem;
    width: 100%;
}

.form-wrapper .form .form-group {
    margin-bottom: 1.2rem;
}

.form-wrapper .form label::after {
    content: '*';
    color: #e63945;
}

.form-wrapper textarea {
    width: 100%;
    height: 30rem;
    padding: 1rem;
}

.form-wrapper .form-btn {
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: #e63946;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}


/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px) {
    .logo {
        width: 80%;
        float: none;
        margin: 1% auto;
    }
    .menu ul {
        text-align: center;
    }
    .food-search input[type="search"] {
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }
    .btn {
        width: 91%;
        padding: 2%;
    }
    .food-search {
        padding: 10% 0;
    }
    .categories {
        padding: 20% 0;
    }
    h2 {
        margin-bottom: 10%;
    }
    .box-3 {
        width: 100%;
        margin: 4% auto;
    }
    .food-menu {
        padding: 20% 0;
    }
    .food-menu-box {
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social {
        padding: 5% 0;
    }
    .order {
        width: 100%;
    }
}